*{
    background-color: #012136;  
}
.display_filterjobs{
    grid-column-start: 4;
    grid-column-end: span 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    height:auto;
    max-height: 250px;
    background-color: #012136;
    
    border: none;
}
.filter_card{
    height: 100%;
    background-color: #012136;
    /* border: 1.5px solid whitesmoke; */
    padding: 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 200px;
}
.intro_img{
    background-color: #00aeef;
}
