*{
    padding: 0;
    margin: 0;
     
}

.navbar-brand img{
    height: 50px;
}
.search h1{
    font-size: 40px;
}
.navbar{
    background-color: blueviolet;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 100px;
}

.search-bar,.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search-bar form{
    width: 50%;
}

.search-bar input{
    height: 50px;
    
}

input.Location{
    background: url('./svg/location-2955.svg') no-repeat left center;
    background-size: 20px 20px; /* Adjust size as needed */
    padding-left: 30px; 
    
    
}

.jobs{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 5.9%;
    
}
.filter{
    grid-column-start: 1;
    grid-column-end: span 2;
    
}
.list-group-item{
    border-color: white;
    padding: 0;
}
.display_jobs{
    grid-column-start: 4;
    grid-column-end: -2;
    
}
.job-location_svg img{
    height: 20px ;
    
    display: flex;
    flex-direction: row;
    
}
.job-location_svg{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 7px;
    
}

.super_card{
    margin: 0 0px 20px 0px;
    
}
.card{
    height: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
}
.result_ul{
    list-style-type: none;
    padding: 10px;
    padding-top:3px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 1;
    position: relative;
    width: 100%;
    border: 1px solid white;
}
.card:hover{
    background-color: whitesmoke;
    cursor:default;
}
.result_ul li{
    width: 100%;
    border: 1px solid whitesmoke;
    padding-left: 10px;
    font-size:15px;
}
.result ul li:hover{
    background-color: #e9f3ff;
    cursor: pointer;
}
.loc_result,.salary_result,.role_result {
    overflow: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}
.filter{
    position:sticky;
}
    
