*{
    padding: 0;
    margin: 0;
   /* background-color: #012136; */
}

.navbar-brand img{
    height: 50px;
}
.search h1{
    font-size: 40px;
}
.navbar{
    padding: 0;
    color: #00aeef;
}
.container-fluid,.collapse,.nav-item,.nav-link,.navbar-toogler-icon{
    background-color: #00aeef
}
.container-fluid{
    padding:0 5.4%;
}
.navbar-toogler-icon{
    color: white;
}
.navbar a{
    color: white;
    font-weight: 500;
}

.dropdown-menu{
    background-color:#00aeef;
    
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 100px;
    padding-top: 200px;
    background-color: #012136;
    padding-bottom:50px
    
}


.sub_search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    width: 100%;
    /* margin-right: 5.4%; */
}
.search-bar,.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

/* .both{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
} */
.search-bar form{
    width: 80%;
}
.search-bar div{
    width: 30%;
    height: auto;
}
.search-bar button{
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
}
.search-bar input{
    height: 50px;
    
}
.both p{
    font-size: 20px;
    padding:20px;
    padding-left:0px;
    color: orange;
}
.sub_search h1{
    color: white;
}


input.Location{
    background: url('./svg/location-2955.svg') no-repeat left center;
    background-size: 20px 20px; /* Adjust size as needed */
    padding-left: 30px; 
    
    
}

.jobs{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 5.9%;
    margin-top: 0;
    background-color: #012136;
}

.filter{
    grid-column-start: 1;
    grid-column-end: span 2;
    
}
.list-group-item{
    border-color: white;
    padding: 0;
}
.display_jobs{
    grid-column-start: 4;
    grid-column-end: -2;
    
}
.job-location_svg img{
    height: 20px ;
    
    display: flex;
    flex-direction: row;
    
}
.job-location_svg{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 7px;
    
}

.super_card{
    margin: 0 0px 20px 0px;
    
}
.card{
    height: 100%;
    background-color: #012136;
    border: 2px solid whitesmoke;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
}
.card-title{
    color: white;
}
.card-text{
    color:aqua;
    font-weight: 500;
}
.result_ul{
    
    list-style-type: none;
    padding: 10px;
    padding-top:3px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 1;
    position: relative;
    width: 100%;
    border:none;
}
.card:hover{
    background-color: #013631;
    cursor:default;
}
.result_ul li{
    width: 100%;
    /* border-bottom: 1px solid white; */
    padding-left: 10px;
    font-size:15px;
    color:white;
}
.result ul li:hover{
    background-color: #e9f3ff;
    cursor: pointer;
}
.loc_result,.salary_result,.role_result {
    overflow: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}
.filter{
    position:sticky;
}

.filter-location{
    color: black;
}
.search-box h5{
    color: white;
}
.search-box{
    position:sticky;
}